@import '../../theme/variables.scss';

.molecules-tab {
  border: none;
  display: inline-block;
  padding: 12px 12px;
  font-family: $font-family;
  font-size: 1em;
  color: $hireology-text-gray;
  transition: all 0.4s ease-in-out;
  text-align: center;
  overflow: visible;
  background-color: transparent;

  &:focus,
  &:hover {
    color: $hireology-darkest-gray;
    outline: none;
  }

  &--active {
    padding: 12px 20px;
  }

  &--primary {
    border-bottom: 8px solid transparent;
    &.molecules-tab--active {
      border-bottom-color: $hireology-green;
    }
  }

  &--secondary {
    border-bottom: 4px solid transparent;
    &.molecules-tab--active {
      border-bottom-color: $hireology-dark-blue;
    }
  }
}
