body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $base-header-font-color;
  font-weight: normal;
  line-height: $header-line-height;
  margin: 0;
}

h1 {
  color: $hireology-darkest-gray;
  margin: 0 0 0.8em 0;
  font-size: $h1-font-size;
  font-weight: normal;
}

h2 {
  color: $hireology-text-gray;
  margin: 0 0 ($base-spacing / 3.75);
  font-size: $h2-font-size;
  font-weight: normal;
}

h3 {
  margin: 0 0 ($base-spacing / 3.75);
  font-size: $h3-font-size;
  font-weight: bold;
}

h4 {
  margin: 0 0 ($base-spacing / 3.75);
  font-size: $h4-font-size;
}

h5 {
  color: $hireology-text-gray;
  margin: 0 0 ($base-spacing / 3.75);
  font-size: $h5-font-size;
}

h6 {
  margin: 0 0 ($base-spacing / 3.75);
  font-size: $h6-font-size;
  font-weight: bold;
}

p {
  margin: 0 0 ($base-spacing * 1.2);
}

pre {
  color: $base-font-color;
}

a {
  transition: color 0.1s linear;
  color: $base-link-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active,
  &:focus {
    color: $hover-link-color;
    outline: none;
  }

  &.white {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: $hireology-border-gray;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

// Forms
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.3em;

  &.optional:after {
    content: ' (optional)';
    color: $hireology-medium-gray;
    margin-left: 0.25em;
  }
}

// Inputs
input {
  background-color: white;
  border-radius: $base-border-radius;
  border: 1px solid $base-border-color;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.6em;
  padding: 0.6em;

  &:focus {
    border-color: $form-border-color-focus;
    outline: none;
  }

  // Validation Error
  &.error {
    border: 1px solid $hireology-red;
  }
}
