/*
 * IF THE COLOR YOU NEED IS NOT IN HERE, PLEASE CONSULT
 * WITH DESIGNER BEFORE ADDING. IT MUST BE WCAG APPROVED
 * IN ORDER TO BE ADDED!!
 */

// COLORS
// ==============================

// Accessibility Grays
$black: #000;
$hireology-darkest-gray: #3f4144;
$hireology-text-gray: #677078;
$hireology-medium-gray: #9da3a8;
$hireology-disabled-gray: #d6dadc;
$hireology-light-gray: #f7f9f9;
$hireology-border-gray: #ddd;
$white: #fff;

$hireology-lightgray-hover: $hireology-light-gray;

// Accessibility Colors
$hireology-green: #81af32;
$hireology-green-hover: #6a9f11;
$hireology-light-blue: #347ea4;
$hireology-light-blue-hover: #34738c; // pre-existing
$hireology-dark-blue: #2a5769;
$hireology-dark-blue-hover: #2d4853;
$hireology-red: #d83e38;
$hireology-red-hover: #b5332e;
$hireology-orange: #f09c00;
$hireology-orange-hover: #e89000;
$hireology-yellow: #f7cf2f;

// Helper Colors
$light-red: #fbe3e4;
$light-yellow: #fff6Bf;
$light-green: #e6efc2;
$hireology-lightgreen-hover: #f4fef4;
$hireology-gray-hover: #808285;

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color: $hireology-text-gray;
$base-header-font-color: $hireology-text-gray;
$base-accent-color: $hireology-light-blue;

// Link Colors
$base-link-color: $hireology-green;
$hover-link-color: $hireology-green-hover;
$base-button-color: $hireology-text-gray;
$hover-button-color: $hireology-text-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border Colors
$base-border-color: $hireology-border-gray;
$base-border: 1px solid $base-border-color;
$nav-border-color: #eee;


// TYPOGRAPHY
// ==============================
$font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-border-radius: 4px;
$base-border: 1px solid $hireology-border-gray;

// Font Family
$base-font-family: $font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 1.75;
$h2-font-size: $base-font-size * 1.5;
$h3-font-size: $base-font-size * 1.3;
$h4-font-size: $base-font-size * 1.125;
$h5-font-size: $base-font-size * .95;
$h6-font-size: $base-font-size * .9;

// Line Height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Border Radius
$base-border-radius: 4px;
$large-border-radius: 20px;

// Spacing
$base-spacing: $base-line-height * 1em;


// BREAKPOINTS
// ==============================
$mobile-breakpoint: 667px;
