@import '../../theme/variables.scss';

.molecules-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.is-open {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }

  &.modal__backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  .modal__dialog {
    width: 610px;
    background-color: $white;
    padding: 1.75em;
    border-radius: $base-border-radius;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: calc(-305px - 1.75em);
    margin-bottom: 2em;

    &--wide {
      width: 750px;
      margin-left: calc(-375px - 1.75em);
    }

    &--full {
      display: flex;
      justify-content: center;
      padding: 0em;
      border-radius: 0px;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;

      .dialog-container {
        width: 90%;
        padding: 1em;
      }
    }
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    h2 {
      margin: 0;
    }
  }

  .modal-header__icon-wrapper {
    position: relative;

    .fa {
      font-size: 18px;
      cursor: pointer;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .molecules-modal {
    .modal__dialog {
      display: flex;
      justify-content: center;
      padding: 0em;
      border-radius: 0px;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;

      .dialog-container {
        width: 90%;
        padding: 1em;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 300ms;
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-duration: 300ms;
  animation-name: fadeOut;
}
