@import '../../theme/variables.scss';

.molecules-checkbox {
  position: relative;
  font-weight: normal;
  margin-bottom: 0.25rem;
  line-height: 1;

  // Default browser checkbox
  input {
    position: absolute;
    left: -9999px;
  }

  // Hireology checkbox
  input[type='checkbox'] + label:before {
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 2px;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid $hireology-disabled-gray;
    background: $white;
  }

  // Hireology checkbox checked
  input[type='checkbox']:disabled + label:after,
  input[type='checkbox']:checked + label:after {
    font-family: FontAwesome;
    content: '\f00c';
    position: absolute;
    font-size: 20px;
    top: -1px;
    left: 0px;
  }

  input[type='checkbox']:disabled + label:after {
    color: $hireology-disabled-gray;
  }
  input[type='checkbox']:checked + label:after {
    color: $hireology-green;
  }

  // Hireology checkbox focused
  input[type='checkbox']:focus + label:before {
    border-color: $hireology-green;
  }

  // Checkbox label
  .molecules-checkbox__label {
    font-family: $font-family;
    font-size: 16px;
    color: $hireology-text-gray;
    display: inline;
    vertical-align: top;
    cursor: pointer;
    line-height: 1.3em;
    padding-left: 25px;
    position: relative;
  }
}
